<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>MOJJI</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
</head>
<body>
	<div class="Wrapper">
		<div class="title">Welcome to MOJJI</div>
		<p>cicd test 333</p>
		<div class="info">로그인 후 이용 가능합니다.</div>
	
		<div id="kakao" class="kakao_button">
			<img src="static/images/kakao_login_medium_narrow.png" />
		</div>
		<img id="thumnail" src="" class="thumnail display_none" />
		<div id="nickname" class="nickname display_none"></div>

		<div id="logout" class="logout display_none">
			<span>로그아웃</span>
		</div>

		<div class="footer">
			<div>Made by</div>
			<div>
				<a>박경린&nbsp;&nbsp;&nbsp;&nbsp;곽준호&nbsp;&nbsp;&nbsp;&nbsp;전한결&nbsp;&nbsp;&nbsp;&nbsp;이동호</a>
			</div>
		</div>
	</div>

	<div id="loading" class="loading display_none">
		<div class="loading_circle"></div>
	</div>
</body>
<script src='/static/main.js'></script>
</html>