@font-face {
   font-family: 'NanumSquareRoundL';
   font-display: swap;
   src: url('file:///Users/kyungrin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-06-27_223438/fonts/NanumSquareRoundL/font.ttf');
}
