{"changed":true,"filter":false,"title":"requirements.txt","tooltip":"/python-oauth-kakao/requirements.txt","value":"certifi==2020.12.5\nchardet==4.0.0\nclick==7.1.2\nFlask==1.1.2\nFlask-JWT-Extended==3.25.0\nidna==2.10\nitsdangerous==1.1.0\nJinja2==2.11.2\nMarkupSafe==1.1.1\nPyJWT==1.7.1\nrequests==2.25.1\nsix==1.15.0\ntinydb==4.3.0\nurllib3==1.26.3\nWerkzeug==1.0.1\n","undoManager":{"mark":-2,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":15,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":74,"mode":"ace/mode/text"}},"timestamp":1689938758437}