{"filter":false,"title":"requirements.txt","tooltip":"/python-oauth-kakao/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":15,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1689938758437,"hash":"9210d66d20712497e37fb85a7055108ad9aba7af"}