@font-face {
   font-family: 'SUITE-Bold';
   font-display: swap;
   src: url('file:///Users/kyungrin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-06-27_223438/fonts/SUITE-Bold/font.ttf');
}
