{"filter":false,"title":"requirements.txt","tooltip":"/efs-utils/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":14,"column":13},"end":{"row":14,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":828,"mode":"ace/mode/text"}},"timestamp":1690168446332,"hash":"d1c8b0250d43d86ef5792053f449b7277d94f613"}